<div class="btn-group heightFooter" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-light">
    <h6><i class="fa-solid fa-angles-left"></i></h6>
  </button>
  <button type="button" class="btn btn-light">
    <h6><i class="fa-solid fa-angle-left"></i></h6>
  </button>

  <button type="button" class="btn btn-light"><h6>1</h6></button>
  <button type="button" class="btn btn-light"><h6>2</h6></button>
  <button type="button" class="btn btn-light"><h6>3</h6></button>
  <button type="button" class="btn btn-light"><h6>4</h6></button>
  <button type="button" class="btn btn-light"><h6>5</h6></button>
  <button type="button" class="btn btn-light"><h6>6</h6></button>

  <button type="button" class="btn btn-light">
    <h6><i class="fa-solid fa-angle-right"></i></h6>
  </button>
  <button type="button" class="btn btn-light">
    <h6><i class="fa-solid fa-angles-right"></i></h6>
  </button>
</div>
