<div class="col p-lg-2">
  <div class="row ms-3 me-3 page_title">
    <div class="col-md-8 p-0">
      <h1>Liste des utilisateurs</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutton-action
        (clickEvent)="nouvelUtilisateur()"
      ></app-boutton-action>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
  </div>
  <div class="col mt-1 mb-1 ms-3 me-3 ps-3 pe-3 article_list">
    <app-detail-utilisateur
      *ngFor="let utilisateur of listUtilisateur"
      [utilisateurDto]="utilisateur"
      (suppressionResult)="handleSuppression($event)">
    </app-detail-utilisateur>
  </div>
  <div class="row mt-1 mb-1 ms-3 me-3 page_moving ">
    <div class="text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>


