<div class="row ">
  <div class="col-md-9">
    <div class="row ms-3 me-3 page_title">
      <div class="col-md-8 p-0">
        <h4>
          <span *ngIf="listCategories.length > 0">Liste des catégories ( {{ listCategories.length }} )</span>
          <span *ngIf="listCategories.length === 0">Aucune catégorie disponible</span>
        </h4>
      </div>
      <div class="col-md-4 text-end">
        <app-boutton-action  (clickEvent)="nouvelleCategory()">
        </app-boutton-action>
      </div>
      <!--    si j'ai un message d'erreur je l'affiche si non je supprime-->
      <div class="row col-md-12 alert alert-danger" *ngIf="errorMsgs">
        {{errorMsgs}}
      </div>
    </div>

    <div class="col mt-1  ms-3 me-3 ps-3 pe-3 category_list">
      <div class="row custom-border mb-1 p-1" *ngFor="let cat of listCategories">
        <div class="col-md-2 border-end">
          <small><i class="fa-solid fa-flag blue-color"></i>{{cat.code}}</small>
        </div>
        <div class="col-md-2 border-end">
          <small>{{cat.designation}}</small>
        </div>
        <div class="col-md-4 border-end">
          <small>{{cat.description}}</small>
        </div>
        <div class="col-md-2 border-end">
          <div class="row text-center">
            <div class="col-md-12">
              <h6 class="text-muted">Nombre d'articles</h6>
            </div>
            <div class="col-md-12">
              <h5 >{{ getNombreArticles(cat.id) | number:'1.0-0':'fr'}}</h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="row pt-3 pb-0">
            <div class="col-md-6 text-center">
              <!--btn-outline-primary-->
              <button type="button" class="btn btn-link souligner-au-survol"
                      (click)="modifierCategory(cat.id!)"
                      title="Modifier">
                <small>
                  <i class="fa fa-edit icon-color-edit"></i>
<!--                  <i class="fa-solid fa-pencil"></i>-->
                </small>
              </button>
            </div>
            <div class="col-md-6 text-center">
              <!--btn-outline-danger-->
              <button type="button" class="btn btn-link souligner-au-survol text-danger" data-bs-toggle="modal"
                      data-bs-target="#modalDeleteCat"
                      (click)="selectCatPourSupprimer(cat.id)"
                      title="Supprimer">
                <small><i class="fa-solid fa-trash-can"></i></small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  ms-3 me-3 page_moving" *ngIf="listCategories.length > 0">
      <div class="text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    Zone de recherche
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDeleteCat" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        Etes-vous sûr de vouloir supprimer cette categorie?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="annulerSuppressionCat()">
          <i class="fa-solid fa-ban"></i>Annuler</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerCat()">
          <i class="fa-solid fa-trash-can"></i>Supprimer</button>
      </div>
    </div>
  </div>
</div>
