<div class="row ">
  <div class="col-md-9">
    <div class="row ms-3 me-3 page_title">
      <div class="col-md-8 p-0">
        <h4>
          <span *ngIf="listFournisseur.length > 0">Liste des fournisseurs ( {{ listFournisseur.length }} )</span>
          <span *ngIf="listFournisseur.length === 0">Aucun article disponible</span>
        </h4>
      </div>
      <div class="col-md-4 text-end">
        <app-boutton-action
          (clickEvent)="nouveauFournisseur()">
        </app-boutton-action>
      </div>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
    </div>

    <div class="row ms-3 me-3  scroll-commandes">
      <div class="col-md-12 mt-1 ps-3 pe-3">
        <app-detail-client-fournisseur
          *ngFor="let fournisseur of listFournisseur"
          [clientFournisseur]="fournisseur"
          [origin]="'fournisseur'"
          (suppressionResult)="handleSuppression($event)">
        </app-detail-client-fournisseur>
      </div>
    </div>

    <div class="row  ms-3 me-3 page_moving">
      <div class="text-center">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    Zone de recherche
  </div>
</div>
