<div class="row mb-1 mr-0 border">
  <div class="col-md-2 border-end mb-1 mt-1 text-center">
    <small>{{ ligneVente.article?.codeArticle }}</small>
  </div>
  <div class="col-md-4 border-end mb-1 mt-1 text-center">
    <small>{{ ligneVente.article?.designation }}</small>
  </div>

  <div class="col-md-2 border-end mb-1 mt-1 text-center">
    <small>{{ ligneVente.quantite | number:'1.0-0':'fr' }}</small>
  </div>

  <div class="col-md-2 border-end mb-1 mt-1 text-center">
    <span>
      <small>{{ (ligneVente.prixVenteUnitaireTtc) |
      currency:'XAF':'symbol':'1.0-0':'fr'  }}</small>
    </span>
  </div>

  <div class="col-md-2 mb-1 mt-1 text-center">
    <span>
      <small>
        {{ (calculerTotalLigne()) |
        currency:'XAF':'symbol':'1.0-0':'fr'  }}
      </small>
    </span>
  </div>
</div>
