.scroll-commandes {
  max-height: 620px;
  overflow-y: auto;    // scroll vertical automatique
  overflow-x: hidden;  // évite le scroll horizontal
  border-right:0.2rem solid #060811;
  border-left:0.2rem solid #060811;
}

.page_title {
  max-height: 40px;   // ou height: 500px
  border-bottom: 0.2rem solid #060811;
}

.page_moving {
  max-height: 20px;   // ou height: 500px
  border-top: 0.2rem solid #060811;
}

.card-footer{
  max-height: 30px;
}


