<div class="row mb-1 mr-0 border">

  <!--  details code article-->
  <div class="col-md-2 border-end mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-11">
        {{ ligneCommande.article?.codeArticle }}
      </div>
    </div>
  </div>

  <!--  details designation-->
  <div class="col-md-4 border-end mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ ligneCommande.article?.designation }}
      </div>
    </div>
  </div>

  <!--  details quantite-->
  <div class="col-md-2 border-end mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ ligneCommande.quantite | number:'1.0-0':'fr'}}
      </div>
    </div>
  </div>

  <!--  prix unitaire-->
  <div class="col-md-2 border-end mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ ligneCommande.prixUnitaire | currency:'XAF':'symbol':'1.0-0':'fr' }}
      </div>
    </div>
  </div>

  <!--  prix total-->
  <div class="col-md-2 mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        {{ (ligneCommande.prixUnitaire && ligneCommande.quantite ?
        +ligneCommande.prixUnitaire * +ligneCommande.quantite : '') | currency:'XAF':'symbol':'1.0-0':'fr' }}
      </div>
    </div>
  </div>
</div>



