<div class="col pt-3 pb-3 p-5">
  <div class="col-md-12 mb-3">
    <button (click)="fileInput.click()" style="background-color: transparent; border: none">
      <img [src]="utilisateurDto.photo ? utilisateurDto.photo : 'assets/new_product1.png'" [src]="imgUrl"
           width="600px" height="200px"
           style="object-fit: cover; border: 2px solid #007bff; cursor: pointer;"/>
      <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" accept="image/*">
    </button>
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12">
      <h2><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;Information de l'utilisateur</h2>
    </div>

    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span >{{msg}}</span>
        </div>
      </div>
      <form action="">
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" aria-label="Nom" name="nom"
                   [(ngModel)]="utilisateurDto.nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 1" aria-label="Adresse 1" name="adresse1"
                   [(ngModel)]="utilisateurDto.adresse!.adresse1">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Statut" aria-label="Statut" name="statut"
                   [(ngModel)]="utilisateurDto.statut">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 2" aria-label="Adresse 2" name="adresse2"
                   [(ngModel)]="utilisateurDto.adresse!.adresse2">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" name="email"
                   [(ngModel)]="utilisateurDto.email">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville" aria-label="Ville" name="ville"
                   [(ngModel)]="utilisateurDto.adresse!.ville">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Telephone" aria-label="Telephone" name="numTel"
                   [(ngModel)]="utilisateurDto.numTel">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Code postal" aria-label="Code postal" name="codePostale"
                   [(ngModel)]="utilisateurDto.adresse!.codePostale">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Pays" aria-label="Pays" name="pays"
                   [(ngModel)]="utilisateurDto.adresse!.pays">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-end">
    <button class="btn btn-danger me-3" (click)="cancelClick()">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerUtilisateur()">
      <i class="fa-solid fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>
</div>



