<!--photo article-->
<div class="row mb-1 custom-border">
  <div class="col-md-1 border-end p-1 text-center">
    <img [src]="clientFournisseur.photo ? clientFournisseur.photo : 'assets/product.png'" width="100px" height="100px">
  </div>

  <!--  details client ou fournisseur-->
  <div class="col-md-4 border-end mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.nom }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.prenom }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.numTel }}</div>
      </div>
    </div>
  </div>

  <!--  detail adresse client ou fournisseur-->
  <div class="col-md-4 border-end mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-house blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.adresse?.adresse1 }}&nbsp;
          {{ clientFournisseur.adresse?.adresse2 }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-location-dot blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.adresse?.codePostale}}&nbsp;
          {{ clientFournisseur.adresse?.ville }}</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-earth-africa blue-color"></i></div>
        <div class="col-md-11">{{ clientFournisseur.adresse?.pays }}</div>
      </div>
    </div>
  </div>

  <!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <!--btn-outline-primary-->
        <button type="button" class="btn btn-link souligner-au-survol" (click)="modifierClientFournisseur()">
          <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <!--btn-outline-danger-->
        <button type="button" class="btn btn-link souligner-au-survol text-danger" data-bs-toggle="modal"
                [attr.data-bs-target]="'#modalDelete' + clientFournisseur.id">
          <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <!--btn-outline-info-->
        <button type="button" class="btn  btn-link souligner-au-survol" (click)="appercuArticle()">
          <i class="fa-solid fa-list"></i>&nbsp;Appercu
        </button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalDelete{{ clientFournisseur.id }}"
       data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          Etes-vous sûr de vouloir supprimer ce {{ origin }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-ban"></i>Annuler</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimer()">
            <i class="fa-solid fa-trash-can"></i>Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>

