<div class="d-flex bd-highlight pt-1">
  <div class=" flex-fill bd-highlight" *ngIf="isImporterVisible">
    <button type="button" class="btn btn-warning pb-1 pt-1 mt-0">
      <i class="fa-solid fa-upload"></i>&nbsp;
      <small>Importer</small>
    </button>
  </div>

  <div class=" flex-fill bd-highlight" *ngIf="isExporterVisible">
    <button type="button" class="btn btn-success">
      <i class="fa-solid fa-download"></i>&nbsp;
      <small>Exporter</small>
    </button>
  </div>

  <div class="flex-fill bd-highlight" *ngIf="isNouveauVisible">
    <button type="button" class="btn btn-primary" (click)="bouttonNouveauClick()">
      <i class="fa-solid fa-plus"></i>&nbsp;
      <small>Nouveau</small>
    </button>
  </div>
</div>

