<!--photo article-->
<div class="row mb-1 custom-border">
  <div class="col-md-1 border-end  text-center ps-1 pt-1 ">
    <img [src]="articleDto.photo ? articleDto.photo : 'assets/product.png'"
         width="70px" height="70px"
         style="object-fit: cover; border-radius: 4px;"
         alt="Photo article">
  </div>

<!--  details article-->
  <div class="col-md-4 border-end">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
        <div class="col-md-11"><small>{{ articleDto.codeArticle }} / {{ articleDto.designation }}</small></div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-tape blue-color"></i></div>
        <div class="col-md-11"><small>{{ articleDto.format }}</small></div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">
          <small>
            {{ articleDto.prixVenteUnitaireHt |
            currency:'XAF':'symbol':'1.0-0':'fr'}} //
            {{ articleDto.prixVenteUnitaireTtc |
            currency:'XAF':'symbol':'1.0-0':'fr'}}
          </small>
        </div>
      </div>
    </div>
  </div>

<!--  detail categories-->
  <div class="col-md-4 border-end mb-1 mt-1">
    <div class="row">
      <div class="col-md-1">
        <i class="fa-solid fa-flag blue-color"></i>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-12"><small>{{ articleDto.category?.code }}</small></div>
          <div class="col-md-12"><small>{{ articleDto.category?.designation }}</small></div>
          <div class="col-md-11">
            <small>{{ articleDto?.description | slice:0:30 }}</small>
            <span *ngIf="(articleDto?.description?.length ?? 0) > 30">...</span>
          </div>
<!--     ou   <div class="col-md-11" *ngIf="articleDto">-->
<!--            {{ articleDto.description | slice:0:30 }}-->
<!--            <span *ngIf="articleDto.description?.length > 30">...</span>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>

<!--  boutons action-->
  <div class="col-md-3 ">
    <div class="row pt-3 pb-0">
      <div class="col-md-4">
        <button type="button" class="btn btn-link souligner-au-survol"
                (click)="modifierArticle()"
                title="Modifier">
          <small>
            <i class="fa fa-edit icon-color-edit"></i>
<!--            <i class="fa-solid fa-pencil"></i>-->
          </small>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link souligner-au-survol"
                (click)="appercuArticle()"
                title="Aperçu">
          <small><i class="fa-solid fa-eye"></i></small>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link souligner-au-survol text-danger"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#modalDelete' + articleDto.id"
                title="Supprimer">
          <small><i class="fa-solid fa-trash-can"></i></small>
        </button>
      </div>
    </div>

  <!-- Modal de suppression -->
  <div class="modal fade"
       [id]="'modalDeleteArt' + articleDto.id"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       tabindex="-1"
       aria-labelledby="staticBackdropLabel"
       aria-hidden="false"> <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer l'article <strong>{{ articleDto.codeArticle }}</strong> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-ban"></i> Annuler
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerArt()">
          <i class="fa-solid fa-trash-can"></i> Supprimer
        </button>
      </div>
    </div>
  </div>
  </div>


<!--  <div class="modal fade" id="modalDeleteArt{{ articleDto.id }}" data-bs-backdrop="static" data-bs-keyboard="false"-->
<!--       tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">x</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          Etes-vous sûr de vouloir supprimer cette article?-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">-->
<!--            <i class="fa-solid fa-ban"></i>Annuler</button>-->
<!--          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerArt()">-->
<!--            <i class="fa-solid fa-trash-can"></i>Supprimer</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

