.logout-card {

  button{
    border-radius: 8px;
    text-align: center;
    width: 40px;
    max-height: 35px;

    i{
      font-size:20px ;
      padding-right: 5px;
    }
  }
}

.fontSise{
  font-size:13px ;
}

.input-group{
  font-size:13px ;

}


